*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Trebuchet MS", Arial, Helvetica, sans-serif;
}

html {
  font-size: 16px;
  min-height: 100%;
}

body {
  min-height: 100vh;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

.test {
  color: red;
}